{{ define "main" }}
<main class="main">
  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ $pages = $pages.ByDate.Reverse }}

  {{ range $pages }}
    {{ $ext := .Params.external_url }}
    <article class="post-entry">
      <header class="entry-header">
        <h2 class="entry-hint-parent">
          {{ if $ext }}
            <a href="{{ $ext }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
            {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}  
          
        </h2>
      </header>

      {{ with .Summary }}
      <div class="entry-content">
        <p>{{ . }}</p>
      </div>
      {{ end }}

      <footer class="entry-footer">
        {{ .Date.Format "January 2, 2006" }}
      </footer>
    </article>
  {{ end }}
</main>
{{ end }}
